<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/lugares">Lugares</a>
    </li><li class="breadcrumb-item active" aria-current="page">
      Crear Lugar
    </li>
  </ol>
</nav>

<div class="container">
  <label>Nombre</label>
  <input type="text" class="form-control" [(ngModel)]="lugar.nombre"/>
  <br/>
  <label>Distancia</label>
  <input type="number" class="form-control" [(ngModel)]="lugar.distancia"/>
  <br/>
  <label>Cercanía</label>
  <input type="number" class="form-control" [(ngModel)]="lugar.cercania"/>
  <br/>
  <label>Descripción</label>
  <textarea name="mensaje" id="" cols="30" rows="10" class="form-control" [(ngModel)]="lugar.descripcion"></textarea>
  <br/>
  <label>Plan</label>
  <input type="text" class="form-control" [(ngModel)]="lugar.plan">
  <hr/>
  <a href="" class="btn btn-primary" (click)="guardarLugar()">Enviar</a>
  <a href="" class="btn btn-default" routerLink="/lugares">Cancelar</a>
</div>
